# PFG: Creacion de datasets

In [1]:
import pandas as pd
import numpy as np
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json
import csv
from serpwow.google_search_results import GoogleSearchResults
import os

In [2]:
api = "E3E9C719CE6A4A11B185F528DB14A445"

# create the serpwow object, passing in our API key
serpwow = GoogleSearchResults(api)

In [3]:
def create_params(api,word):
    # set up a dict for the search parameters
    params = {
      "q" : word,
      "search_type" : "trends",
      "trends_resolution" : "dma",
      "time_period" : "custom",
      "time_period_min" : "07/20/2015",
      "time_period_max" : "04/01/2021"
    }
    return params

def create_csv(params,i):
    # retrieve the search results as CSV
    result = serpwow.get_csv(params)
    df = pd.DataFrame([x.split(',') for x in result.split('\n')])
    df = df[1:]
    df.to_csv('Datos/'+str(i)+'.csv')

In [4]:
#params = create_params(api,word)
#create_csv(params)

In [5]:
list_word = ['bitcoin','Nvidia','cryptocurrency','blockchain','Ethereum','mining']

In [6]:
for i in list_word:
    print("realizando ",i)
    params = create_params(api,i)
    create_csv(params,i)
    print(i, "finalizado")

realizando  bitcoin
bitcoin finalizado
realizando  Nvidia
Nvidia finalizado
realizando  cryptocurrency
cryptocurrency finalizado
realizando  blockchain
blockchain finalizado
realizando  Ethereum
Ethereum finalizado
realizando  mining
mining finalizado

In [7]:
from cmc import coinmarketcap

In [9]:
import yfinance as yf

In [10]:
data = yf.download(tickers="BTC-USD", period="730d", interval="1h")

[*********************100%***********************]  1 of 1 completed

In [11]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-07-07,11236.230469,11258.599609,11182.519531,11251.259766,11251.259766,0
2019-07-07,11246.769531,11254.839844,11124.690430,11199.540039,11199.540039,0
2019-07-07,11198.299805,11246.519531,11163.660156,11240.910156,11240.910156,11210752
2019-07-07,11239.809570,11239.809570,11131.990234,11191.839844,11191.839844,14647292
2019-07-07,11187.629883,11214.540039,11109.480469,11161.379883,11161.379883,16844316
...,...,...,...,...,...,...
2021-07-05,33725.210938,33770.187500,33545.734375,33646.191406,33646.191406,100124672
2021-07-05,33617.308594,33739.230469,33616.628906,33679.777344,33679.777344,249212928
2021-07-05,33677.648438,33726.335938,33213.660156,33726.335938,33726.335938,660406272
2021-07-05,33712.046875,33938.308594,33712.046875,33841.789062,33841.789062,307816448
2021-07-05,33806.796875,33806.796875,33806.796875,33806.796875,33806.796875,0

In [12]:
data.to_csv("btc_hour.csv")