# PFG: Extraccion stock prices

In [1]:
import pandas as pd
import numpy as np
from requests import Request, Session
from requests.exceptions import ConnectionError, Timeout, TooManyRedirects
import json

In [2]:
url = 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest'

In [3]:
parameters = {
  'start':'1',
  'limit':'5000',
  'convert':'USD'
}
headers = {
  'Accepts': 'application/json',
  'X-CMC_PRO_API_KEY': '81f38a09-d713-4c28-bd54-502cdbf7375f',
}

In [4]:
session = Session()
session.headers.update(headers)

try:
  response = session.get(url, params=parameters)
  data = json.loads(response.text)
except (ConnectionError, Timeout, TooManyRedirects) as e:
  print(e)

In [5]:
#funcion de obtencion de
def get_price(df,name):
    a = df.loc[df['name'] == name]
    precio = pd.DataFrame(a.quote.values[0]).T['price']
    return np.round(float(precio),2)

In [6]:
dfStockExchange = pd.DataFrame(data.get("data"))

In [7]:
dfStockExchange.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  5000 non-null   int64
 1   name                5000 non-null   object
 2   symbol              5000 non-null   object
 3   slug                5000 non-null   object
 4   num_market_pairs    5000 non-null   int64
 5   date_added          5000 non-null   object
 6   tags                5000 non-null   object
 7   max_supply          2953 non-null   float64
 8   circulating_supply  5000 non-null   float64
 9   total_supply        5000 non-null   float64
 10  platform            3757 non-null   object
 11  cmc_rank            5000 non-null   int64
 12  last_updated        5000 non-null   object
 13  quote               5000 non-null   object
dtypes: float64(3), int64(3), object(8)
memory usage: 547.0+ KB

In [8]:
a = get_price(dfStockExchange,'Bitcoin')

In [9]:
a

33900.86

In [10]:
from Historic_Crypto import HistoricalData
from Historic_Crypto import Cryptocurrencies
from Historic_Crypto import LiveCryptoData

In [11]:
new = HistoricalData('BTC-USD',3600,'2015-06-22-00-00').retrieve_data()
new

Checking input parameters are in the correct format...
Formatting Dates...
Checking if ticker supplied is available on the CoinBase Pro API...
Connected to the CoinBase Pro API...
Ticker 'BTC-USD' found at the CoinBase Pro API, continuing to extraction...
Data for chunk 0 of 176 extracted
CoinBase Pro API did not have any data available for 'BTC-USD' beginning at 2015-06-22-00-00. Trying a later date:'2015-06-22T00:00:00'
Data for chunk 1 of 176 extracted
CoinBase Pro API did not have any data available for 'BTC-USD' beginning at 2015-06-22-00-00. Trying a later date:'2015-07-04T12:00:00'
Data for chunk 2 of 176 extracted
Data for chunk 3 of 176 extracted
Data for chunk 4 of 176 extracted
Data for chunk 5 of 176 extracted
Data for chunk 6 of 176 extracted
Data for chunk 7 of 176 extracted
Data for chunk 8 of 176 extracted
Data for chunk 9 of 176 extracted
Data for chunk 10 of 176 extracted
Data for chunk 11 of 176 extracted
Data for chunk 12 of 176 extracted
Data for chunk 13 of 176 extracted
Data for chunk 14 of 176 extracted
Data for chunk 15 of 176 extracted
Data for chunk 16 of 176 extracted
Data for chunk 17 of 176 extracted
Data for chunk 18 of 176 extracted
Data for chunk 19 of 176 extracted
Data for chunk 20 of 176 extracted
Data for chunk 21 of 176 extracted
Data for chunk 22 of 176 extracted
Data for chunk 23 of 176 extracted
Data for chunk 24 of 176 extracted
Data for chunk 25 of 176 extracted
Data for chunk 26 of 176 extracted
Data for chunk 27 of 176 extracted
Data for chunk 28 of 176 extracted
Data for chunk 29 of 176 extracted
Data for chunk 30 of 176 extracted
Data for chunk 31 of 176 extracted
Data for chunk 32 of 176 extracted
Data for chunk 33 of 176 extracted
Data for chunk 34 of 176 extracted
Data for chunk 35 of 176 extracted
Data for chunk 36 of 176 extracted
Data for chunk 37 of 176 extracted
Data for chunk 38 of 176 extracted
Data for chunk 39 of 176 extracted
Data for chunk 40 of 176 extracted
Data for chunk 41 of 176 extracted
Data for chunk 42 of 176 extracted
Data for chunk 43 of 176 extracted
Data for chunk 44 of 176 extracted
Data for chunk 45 of 176 extracted
Data for chunk 46 of 176 extracted
Data for chunk 47 of 176 extracted
Data for chunk 48 of 176 extracted
Data for chunk 49 of 176 extracted
Data for chunk 50 of 176 extracted
Data for chunk 51 of 176 extracted
Data for chunk 52 of 176 extracted
Data for chunk 53 of 176 extracted
Data for chunk 54 of 176 extracted
Data for chunk 55 of 176 extracted
Data for chunk 56 of 176 extracted
Data for chunk 57 of 176 extracted
Data for chunk 58 of 176 extracted
Data for chunk 59 of 176 extracted
Data for chunk 60 of 176 extracted
Data for chunk 61 of 176 extracted
Data for chunk 62 of 176 extracted
Data for chunk 63 of 176 extracted
Data for chunk 64 of 176 extracted
Data for chunk 65 of 176 extracted
Data for chunk 66 of 176 extracted
Data for chunk 67 of 176 extracted
Data for chunk 68 of 176 extracted
Data for chunk 69 of 176 extracted
Data for chunk 70 of 176 extracted
Data for chunk 71 of 176 extracted
Data for chunk 72 of 176 extracted
Data for chunk 73 of 176 extracted
Data for chunk 74 of 176 extracted
Data for chunk 75 of 176 extracted
Data for chunk 76 of 176 extracted
Data for chunk 77 of 176 extracted
Data for chunk 78 of 176 extracted
Data for chunk 79 of 176 extracted
Data for chunk 80 of 176 extracted
Data for chunk 81 of 176 extracted
Data for chunk 82 of 176 extracted
Data for chunk 83 of 176 extracted
Data for chunk 84 of 176 extracted
Data for chunk 85 of 176 extracted
Data for chunk 86 of 176 extracted
Data for chunk 87 of 176 extracted
Data for chunk 88 of 176 extracted
Data for chunk 89 of 176 extracted
Data for chunk 90 of 176 extracted
Data for chunk 91 of 176 extracted
Data for chunk 92 of 176 extracted
Data for chunk 93 of 176 extracted
Data for chunk 94 of 176 extracted
Data for chunk 95 of 176 extracted
Data for chunk 96 of 176 extracted
Data for chunk 97 of 176 extracted
Data for chunk 98 of 176 extracted
Data for chunk 99 of 176 extracted
Data for chunk 100 of 176 extracted
Data for chunk 101 of 176 extracted
Data for chunk 102 of 176 extracted
Data for chunk 103 of 176 extracted
Data for chunk 104 of 176 extracted
Data for chunk 105 of 176 extracted
Data for chunk 106 of 176 extracted
Data for chunk 107 of 176 extracted
Data for chunk 108 of 176 extracted
Data for chunk 109 of 176 extracted
Data for chunk 110 of 176 extracted
Data for chunk 111 of 176 extracted
Data for chunk 112 of 176 extracted
Data for chunk 113 of 176 extracted
Data for chunk 114 of 176 extracted
Data for chunk 115 of 176 extracted
Data for chunk 116 of 176 extracted
Data for chunk 117 of 176 extracted
Data for chunk 118 of 176 extracted
Data for chunk 119 of 176 extracted
Data for chunk 120 of 176 extracted
Data for chunk 121 of 176 extracted
Data for chunk 122 of 176 extracted
Data for chunk 123 of 176 extracted
Data for chunk 124 of 176 extracted
Data for chunk 125 of 176 extracted
Data for chunk 126 of 176 extracted
Data for chunk 127 of 176 extracted
Data for chunk 128 of 176 extracted
Data for chunk 129 of 176 extracted
Data for chunk 130 of 176 extracted
Data for chunk 131 of 176 extracted
Data for chunk 132 of 176 extracted
Data for chunk 133 of 176 extracted
Data for chunk 134 of 176 extracted
Data for chunk 135 of 176 extracted
Data for chunk 136 of 176 extracted
Data for chunk 137 of 176 extracted
Data for chunk 138 of 176 extracted
Data for chunk 139 of 176 extracted
Data for chunk 140 of 176 extracted
Data for chunk 141 of 176 extracted
Data for chunk 142 of 176 extracted
Data for chunk 143 of 176 extracted
Data for chunk 144 of 176 extracted
Data for chunk 145 of 176 extracted
Data for chunk 146 of 176 extracted
Data for chunk 147 of 176 extracted
Data for chunk 148 of 176 extracted
Data for chunk 149 of 176 extracted
Data for chunk 150 of 176 extracted
Data for chunk 151 of 176 extracted
Data for chunk 152 of 176 extracted
Data for chunk 153 of 176 extracted
Data for chunk 154 of 176 extracted
Data for chunk 155 of 176 extracted
Data for chunk 156 of 176 extracted
Data for chunk 157 of 176 extracted
Data for chunk 158 of 176 extracted
Data for chunk 159 of 176 extracted
Data for chunk 160 of 176 extracted
Data for chunk 161 of 176 extracted
Data for chunk 162 of 176 extracted
Data for chunk 163 of 176 extracted
Data for chunk 164 of 176 extracted
Data for chunk 165 of 176 extracted
Data for chunk 166 of 176 extracted
Data for chunk 167 of 176 extracted
Data for chunk 168 of 176 extracted
Data for chunk 169 of 176 extracted
Data for chunk 170 of 176 extracted
Data for chunk 171 of 176 extracted
Data for chunk 172 of 176 extracted
Data for chunk 173 of 176 extracted
Data for chunk 174 of 176 extracted
Data for chunk 175 of 176 extracted
Data for chunk 176 of 176 extracted

                          low      high      open     close      volume
time
2015-07-20 21:00:00    277.92    278.00    277.98    278.00   59.260456
2015-07-20 22:00:00    277.37    278.50    278.00    278.14  346.995411
2015-07-20 23:00:00    278.15    280.00    278.31    280.00  376.627552
2015-07-21 00:00:00    279.38    281.00    279.96    280.89  288.177976
2015-07-21 01:00:00    280.35    281.15    280.89    280.36  380.933023
...                       ...       ...       ...       ...         ...
2021-07-05 14:00:00  33570.00  33740.86  33625.50  33715.25  314.102184
2021-07-05 15:00:00  33480.00  33781.06  33715.25  33602.84  472.780572
2021-07-05 16:00:00  33560.96  33764.98  33605.42  33663.77  265.379507
2021-07-05 17:00:00  33156.86  33738.75  33663.76  33719.90  565.647358
2021-07-05 18:00:00  33717.36  33996.42  33717.46  33808.62  167.531759

[52204 rows x 5 columns]

In [12]:
new

                          low      high      open     close      volume
time
2015-07-20 21:00:00    277.92    278.00    277.98    278.00   59.260456
2015-07-20 22:00:00    277.37    278.50    278.00    278.14  346.995411
2015-07-20 23:00:00    278.15    280.00    278.31    280.00  376.627552
2015-07-21 00:00:00    279.38    281.00    279.96    280.89  288.177976
2015-07-21 01:00:00    280.35    281.15    280.89    280.36  380.933023
...                       ...       ...       ...       ...         ...
2021-07-05 14:00:00  33570.00  33740.86  33625.50  33715.25  314.102184
2021-07-05 15:00:00  33480.00  33781.06  33715.25  33602.84  472.780572
2021-07-05 16:00:00  33560.96  33764.98  33605.42  33663.77  265.379507
2021-07-05 17:00:00  33156.86  33738.75  33663.76  33719.90  565.647358
2021-07-05 18:00:00  33717.36  33996.42  33717.46  33808.62  167.531759

[52204 rows x 5 columns]

In [13]:
import yfinance as yf

In [14]:
DJI =yf.download(tickers='^DJI',period='730d',interval='1h')

[*********************100%***********************]  1 of 1 completed

In [15]:
DJI.to_csv('Datos/DJI.csv')