In [1]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [2]:
import pandas as pd
import numpy as np

In [3]:
path = 'Datos/'

In [4]:
df_bitcoin = pd.read_csv('Datos/btc_price_hourly.csv')
df_bitcoin.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2019-04-22,5303.359863,5319.330078,5290.600098,5305.189941,0,0,0
1,2019-04-22,5305.350098,5313.839844,5302.819824,5303.189941,4141587,0,0
2,2019-04-22,5303.000000,5305.669922,5271.580078,5280.259766,6657944,0,0
3,2019-04-22,5280.109863,5293.109863,5275.330078,5276.839844,3551682,0,0
4,2019-04-22,5276.520020,5283.549805,5267.180176,5268.049805,4440353,0,0

In [5]:
#datos a redondear: Open, High, Low, Close
redondear = ['Open', 'High', 'Low', 'Close']
for i in redondear:
    print ("Redondeando...:",i)
    df_bitcoin[redondear] = df_bitcoin[redondear].round(2)
#eliminar Dividends, Stock Splits
eliminacion = ['Dividends', 'Stock Splits']
for i in eliminacion:
    print("Eliminando...",i)
    del df_bitcoin[i]

Redondeando...: Open
Redondeando...: High
Redondeando...: Low
Redondeando...: Close
Eliminando... Dividends
Eliminando... Stock Splits

In [6]:
#anadir columna hora
#crear lista horas
date_act = "0"
horas = []
hora_act = 0
for i in range (df_bitcoin.shape[0]):
    if df_bitcoin.Date[i] == date_act:
        hora_act += 1
        horas.append(hora_act)
    else:
        date_act = df_bitcoin.Date[i]
        hora_act = 0
        horas.append(hora_act)
#meter lista en df
df_bitcoin['Time'] = horas

In [7]:
hora = []
for i in range (df_bitcoin.shape[0]):
    if df_bitcoin.Time[i] == 0:
        hora.append('00:00')
    if df_bitcoin.Time[i] == 1:
        hora.append('01:00')
    if df_bitcoin.Time[i] == 2:
        hora.append('02:00')
    if df_bitcoin.Time[i] == 3:
        hora.append('03:00')
    if df_bitcoin.Time[i] == 4:
        hora.append('04:00')
    if df_bitcoin.Time[i] == 5:
        hora.append('05:00')
    if df_bitcoin.Time[i] == 6:
        hora.append('06:00')
    if df_bitcoin.Time[i] == 7:
        hora.append('07:00')
    if df_bitcoin.Time[i] == 8:
        hora.append('08:00')
    if df_bitcoin.Time[i] == 9:
        hora.append('09:00')
    if df_bitcoin.Time[i] == 10:
        hora.append('10:00')
    if df_bitcoin.Time[i] == 11:
        hora.append('11:00')
    if df_bitcoin.Time[i] == 12:
        hora.append('12:00')
    if df_bitcoin.Time[i] == 13:
        hora.append('13:00')
    if df_bitcoin.Time[i] == 14:
        hora.append('14:00')
    if df_bitcoin.Time[i] == 15:
        hora.append('15:00')
    if df_bitcoin.Time[i] == 16:
        hora.append('16:00')
    if df_bitcoin.Time[i] == 17:
        hora.append('17:00')
    if df_bitcoin.Time[i] == 18:
        hora.append('18:00')
    if df_bitcoin.Time[i] == 19:
        hora.append('19:00')
    if df_bitcoin.Time[i] == 20:
        hora.append('20:00')
    if df_bitcoin.Time[i] == 21:
        hora.append('21:00')
    if df_bitcoin.Time[i] == 22:
        hora.append('22:00')
    if df_bitcoin.Time[i] == 23:
        hora.append('23:00')
    if df_bitcoin.Time[i] == 24:
        hora.append('24:00')
#meter lista en df
df_bitcoin['Time'] = hora

In [8]:
df_bitcoin['Date'] = df_bitcoin['Date'].astype(str)+ " " + df_bitcoin['Time']

In [9]:
df_bitcoin

,Date,Open,High,Low,Close,Volume,Time
0,2019-04-22 00:00,5303.36,5319.33,5290.60,5305.19,0,00:00
1,2019-04-22 01:00,5305.35,5313.84,5302.82,5303.19,4141587,01:00
2,2019-04-22 02:00,5303.00,5305.67,5271.58,5280.26,6657944,02:00
3,2019-04-22 03:00,5280.11,5293.11,5275.33,5276.84,3551682,03:00
4,2019-04-22 04:00,5276.52,5283.55,5267.18,5268.05,4440353,04:00
...,...,...,...,...,...,...,...
17384,2021-04-20 19:00,55943.78,56368.89,55781.22,56280.71,773115904,19:00
17385,2021-04-20 20:00,56265.43,56723.32,56260.96,56590.74,831242240,20:00
17386,2021-04-20 21:00,56606.32,57027.44,56438.70,56834.63,1128706048,21:00
17387,2021-04-20 22:00,56784.97,56846.55,56492.87,56760.19,930136064,22:00
17388,2021-04-20 23:00,56762.67,56762.67,56762.67,56762.67,0,23:00

In [10]:
#crear dataset simple con solo Date, Open
data_for_timeseries = [df_bitcoin['Date'], df_bitcoin['Open'],df_bitcoin['Close']]
headers = ["Date","Open","Close"]
df_for_timeseries = pd.concat(data_for_timeseries, axis=1, keys=headers)

In [11]:
df_for_timeseries["Diference"]= np.round((1-(df_for_timeseries["Open"]/df_for_timeseries["Close"]))*100,3)

In [12]:
df_for_timeseries.Diference[i]

0.0

In [13]:
arr_difs = [] #list_difs.append()
for i in range (df_for_timeseries.shape[0]):
    if df_for_timeseries.Diference[i] <= -0.5:
        arr_difs.append("tendencia_bajista")
    if df_for_timeseries.Diference[i] >= +0.5:
        arr_difs.append("tendencia_alcista")
    if df_for_timeseries.Diference[i] <+0.5 and df_for_timeseries.Diference[i] > -0.5:
        arr_difs.append("sin_tendencia")

In [14]:
df_for_timeseries["Tendencia"] = arr_difs

In [15]:
df_for_timeseries

                   Date      Open     Close  Diference          Tendencia
0      2019-04-22 00:00   5303.36   5305.19      0.034      sin_tendencia
1      2019-04-22 01:00   5305.35   5303.19     -0.041      sin_tendencia
2      2019-04-22 02:00   5303.00   5280.26     -0.431      sin_tendencia
3      2019-04-22 03:00   5280.11   5276.84     -0.062      sin_tendencia
4      2019-04-22 04:00   5276.52   5268.05     -0.161      sin_tendencia
...                 ...       ...       ...        ...                ...
17384  2021-04-20 19:00  55943.78  56280.71      0.599  tendencia_alcista
17385  2021-04-20 20:00  56265.43  56590.74      0.575  tendencia_alcista
17386  2021-04-20 21:00  56606.32  56834.63      0.402      sin_tendencia
17387  2021-04-20 22:00  56784.97  56760.19     -0.044      sin_tendencia
17388  2021-04-20 23:00  56762.67  56762.67      0.000      sin_tendencia

[17389 rows x 5 columns]

In [16]:
df_for_timeseries.to_csv("Datos/price_BTC_EUR.csv")

In [17]:
x = df_for_timeseries['Date']
y = df_for_timeseries['Open']

In [18]:
import tensorflow

In [19]:
from keras.layers import Input, Dense, Bidirectional, Dropout
from keras.layers.recurrent import LSTM
from keras.models import Model
from keras.callbacks import EarlyStopping
from sklearn.model_selection import train_test_split

In [20]:
def create_model():
    input_layer = Input(batch_shape=(None, len(x), 1))
    layer = Bidirectional(LSTM(128, return_sequences=True))(input_layer)
    layer = Bidirectional(LSTM(128))(layer)
    out = Dense(1, activation="sigmoid")(layer)
    m = Model(inputs=input_layer, outputs=out)
    m.compile("rmsprop", loss='mean_squared_error')
    return m


def train_model(model, X, y):
    ea = EarlyStopping(monitor='val_loss', patience=2)
    val_loss = model.fit(X, y, epochs=500, batch_size=64, callbacks=[ea], verbose=1, validation_split=.1)
    return val_loss

In [21]:
#tendencias
# bitcoin.csv, blockchain.csv, cryptocurrency.csv, ethereum.csv, mining.csv
path="Datos/trends/"
tendencias = ["bitcoin.csv", "blockchain.csv", "cryptocurrency.csv", "Ethereum.csv", "mining.csv","Nvidia.csv"]
j = 1
df_trend = pd.DataFrame()
df_trend['Date'] = pd.read_csv(path+tendencias[0], delimiter = ';').Date
for i in tendencias:
    trend = pd.read_csv(path+i, delimiter = ';')
    df_trend[""+ i] = trend.iloc[:,0]
    j+=1

In [22]:
aux = df_trend.replace({'"':''}, regex=True)
aux = aux.replace({'Z':''}, regex=True)
aux = aux.replace({':00.000':''}, regex=True)
aux = aux.replace({'T':' '}, regex=True)
aux = aux.replace({'00:00':''}, regex=True)

In [23]:
aux.rename(columns={"bitcoin.csv":"bitcoin","blockchain.csv":"blockchain","cryptocurrency.csv":"cryptocurrency","":""},inplace=True)

In [24]:
aux.head()

,Date,bitcoin,blockchain,cryptocurrency,Ethereum.csv,mining.csv,Nvidia.csv
0,2015-08-01,3,4,0,1,36,81
1,2015-09-01,2,5,0,0,35,68
2,2015-10-01,2,5,0,0,35,73
3,2015-11-01,3,7,0,1,36,82
4,2015-12-01,4,6,0,0,33,79

In [25]:
aux.to_csv("Datos/trends/trends.csv")